/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
bad_input.txt
output.txt
output.clj
comment.txt
first_tag
plc-parser.tws
prod_input.L5K
version_assign.txt
version_assign_2.txt
*.edn
*.log
*.txt
